Uninstall-ChocolateyZipPackage `
    -PackageName "vim-console" `
    -ZipFileName "<<<ZipFileRT>>>"

Uninstall-ChocolateyZipPackage `
    -PackageName "vim-console" `
    -ZipFileName "<<<ZipFileEXE>>>"
