<?xml version="1.0"?>
<package >
  <metadata>
    <id>Far</id>
    <title>Far Manager (Stable)</title>
    <version>3.0.<<<Build>>></version>
    <authors>Eugene Roshal,Far Group</authors>
    <owners>Justin Dearing,Vasily Sidorov</owners>
    <packageSourceUrl>https://github.com/bazzilic/ChocolateyPackages/tree/master/Far</packageSourceUrl>
    <summary>File and ARchive Manager</summary>
    <description>Far Manager is a program for managing files and archives in Windows operating systems. Far Manager works in text mode and provides a simple and intuitive interface for performing most of the necessary actions.</description>
    <projectUrl>http://farmanager.com/index.php?l=en</projectUrl>
    <bugTrackerUrl>https://bugs.farmanager.com/</bugTrackerUrl>
    <projectSourceUrl>https://github.com/FarGroup/FarManager</projectSourceUrl>
    <mailingListUrl>https://groups.google.com/group/fardeven</mailingListUrl>
    <tags>admin console archiver file manager ftp scp sftp</tags>
    <licenseUrl>http://farmanager.com/license.php?l=en</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <iconUrl>https://raw.githubusercontent.com/FarGroup/FarManager/master/far/Far.ico</iconUrl>
  </metadata>
  <files>
    <file src="tools\*" target="tools" />
  </files>
</package>